@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
.img{
    display: contents;
    max-width: 100%;
    height: auto;
}
.header {
    border-bottom: 1px solid #D4AF37;
    align-items: center;
}

.isi {
    border-radius: 20px;
    background-color: #38435F;
    background-image: url("../img/manuk.png");
    background-repeat:no-repeat ;
    background-position:center bottom;
    background-size: 90vh;
    padding: 10%;
    width: 140vh;
    height: auto;
    
}

.container-parent{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/manuk.jpg');
    background-size:cover;
    background-position: center;

    
}
.title-status{
    color: #D4AF37;
    font-weight: 600;
    
    text-align:center ;
    
}
.btn-checkout{
    background-color: #D4AF37 ;
    color: #38435F;
    font-weight: 500;
    width: 15rem;
}
.status{
    color: #D4AF37;
    font-weight: 600;
}
.info{
    margin-top: 10px;
    margin-bottom: 50px;
}
.header-table{
    display: grid;

}